.cover__link {
  text-decoration: none;
  min-height: 737px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
    gap: 16px;
  }
}
