.cover {
  box-sizing: border-box;
  position: relative;
  padding: 0 44px 92px;
}

/* .cover:hover .cover__title.cover__background{
  opacity: 0.8;
} */

@media (max-width: 1279px) {
  .cover {
    padding: 0 0 92px;
  }
}

@media (max-width: 767px) {
  .cover {
    padding: 0;
  }
}